.themeContainer{
  cursor: pointer;
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  padding:   40px;
  font-family: 'Potta One', cursive;
  color: #5e6c84;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}
