*{padding:0;margin:0;border:0}
body{background:#f1f2f7;}
ul, li, p{list-style:none}
input, select, textarea, button{outline:none;border:none;appearance:none;-webkit-appearance:none}
a{color:#5183f5;cursor:pointer;text-decoration:none}

::selection{color:#fff;background-color:#313f6e}